@model IEnumerable<Ecommerce.Models.EntityModels.Product>



<h1>Product Show</h1>

<p>
    <a asp-action="CreateProduct">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Category</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsView" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>